<div class="container mt-3">
    <div class="row mt-2 justify-content-center">
        <h2>Book Subscriptions</h2>
    </div>
    <div class="row" *ngIf="hasSubscriptions">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Text</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of booksObject.books; index as i; first as isFirst">
                    <td>{{book.name}}</td>
                    <td>{{book.description}}</td>
                    <td>{{book.text}}</td>
                    <td><button (click)="removeSubscriptionBook(book)" class="btn btn-danger mt-1 ml-4 mr-2" >Remove</button></td>
                    </tr>
                </tbody>
                </table>
        </div>

        <div class="col-sm-2"></div>
    </div>
</div>
