<div class="container mt-3">
  <div class="row m-3 justify-content-center">
    <h2>Register</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-container p-3">
        <form #ngSignup="ngForm" name="form" (ngSubmit)="onSubmit()" *ngIf="!isSuccessful" novalidate>

          <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" name="userName" [(ngModel)]="signupRequest.userName" required 
              #userName="ngModel" />
            <div class="alert-danger" *ngIf="ngSignup.submitted && userName.errors">
              <div *ngIf="userName.errors['required']">User Name is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="signupRequest.password" required
              pattern="(.*[a-z])" #password="ngModel" />
            <div class="alert-danger" *ngIf="ngSignup.submitted && password.errors">
              <div *ngIf="password.errors['required']">Password is required</div>
              <div *ngIf="password.errors['pattern']"> Enter a strong password. At least one character is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword"
              [(ngModel)]="signupRequest.confirmPassword" required pattern="{{ password.value }}"
              #confirmPassword="ngModel" />
            <div class="alert-danger" *ngIf="ngSignup.submitted && confirmPassword.errors">
              <div *ngIf="confirmPassword.errors['required']">Confirm Password is required</div>
              <div *ngIf="confirmPassword.errors['pattern']"> Enter a strong password. At least one character is required.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="signupRequest.firstName"
              #firstName="ngModel" />
          </div>

          <div class="form-group">
            <label for="firstName">Last Name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="signupRequest.lastName"
              #lastName="ngModel" />
          </div>

          <div class="form-group">
            <input class="btn btn-primary btn-block" type="submit" value="Register" />
          </div>
          <div class="alert alert-warning" *ngIf="ngSignup.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful">
          Congrats! You have registered successfully.
          You can now login into your account.
        </div>
      </div>
    </div>
  </div>
</div>